@let response = (this.response | async)?.results?.[0];
@if (response) {
  <div class="card">
  <img class="avatar" [src]="response.picture.large"/>
  <div class="info">
    <h2>User Info</h2>
    <p>
      <b>Name:</b> {{ response.name.first }} {{ response.name.last }}
    </p>
      @if (response.email) {
        <p>
          <b>Email:</b> {{ response.email }}
        </p> 
      }
      @if (response.location) {
        <p>
          <b>Location:</b> {{ response.location.city }}, {{ response.location.country }}
        </p>  
      }
  </div>
</div>
}

