* {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.filters .mat-mdc-form-field {
  width: 250px;
}

.filters {
  display: flex;
  padding: 8px;
  gap: 16px;
}
.filters button {
  background-color: #3b82f6;
  color: white;
  height: 57px;
}
