<h2 mat-dialog-title>Редактирование профиля</h2>
<form [formGroup]="form" mat-dialog-content>
  <mat-form-field>
    <mat-label>Имя</mat-label>
    <input matInput formControlName="firstName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Фамилия</mat-label>
    <input matInput formControlName="lastName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Телефон</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>
</form>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button (click)="save()">Сохранить</button>
</mat-dialog-actions>
